# 1
#### From Videos

In [4]:
import os
import pandas as pd
import numpy as np

In [5]:
df =pd.read_csv(r'D:\\Mazen Essam\\Machine Learning course\\ENG Mohamed Documentary\\products.csv',index_col=False) #read from a csv

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [7]:
df.head() #show first 5 rows in the dataframe

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df.tail() #show last 5 rows in the dataframe

,product_id,product_name,aisle_id,department_id,prices
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [9]:
df.dtypes # show datatypes of the dataframe

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [10]:
df.columns #show columns of the dataframe

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [11]:
df.describe() # get some details about the dataframe

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [12]:
df.drop(columns=['prices']) #drop a column

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49689,49685,En Croute Roast Hazelnut Cranberry,42,1
49690,49686,Artisan Baguette,112,3
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49692,49688,Fresh Foaming Cleanser,73,11

In [13]:
df['product_id'].value_counts(dropna=False) # show how many a data in a certain column repeated

product_id
6800     2
35491    2
18458    2
462      2
35306    2
        ..
16567    1
16568    1
16569    1
16570    1
49688    1
Name: count, Length: 49686, dtype: int64

In [14]:
df.rename(columns={"product_id":'ID'},inplace=True) # rename a column
df.head(10) # show first 10 of dataframe

,ID,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4

In [15]:
df['ID']=df['ID'].astype('float') #change data type

# 2

In [16]:
df_ords=pd.read_csv(r'D:\\Mazen Essam\\Machine Learning course\\ENG Mohamed Documentary\\orders.csv',index_col=False)

In [17]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

#### change any id to string as we don't need to make any operations on them

In [21]:
df_ords['order_id']=df_ords['order_id'].astype('string') # change data type of id to be string
df_ords['user_id']=df_ords['user_id'].astype('string')
df_ords.dtypes

order_id                  string[python]
user_id                   string[python]
eval_set                          object
order_number                       int64
order_dow                          int64
order_hour_of_day                  int64
days_since_prior_order           float64
dtype: object

# 3

In [22]:
df_ords.rename(columns={"order_dow":'order_day'},inplace=True) # rename order_dow to order_day

In [24]:
df_ords.columns # show columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_day',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

# 4

In [25]:
HOURS=df_ords['order_hour_of_day'].value_counts(dropna=False) #get how many the data in order_hour_of_day repeated
HOURS.sort_index # sort data
print(f"Highst orders\' Hour in the day is {HOURS.keys()[0]}")

Highst orders' Hour in the day is 10

# 5

#### Read csv file

In [55]:

df_prod=pd.read_csv(r'D:\\Mazen Essam\\Machine Learning course\\ENG Mohamed Documentary\\products.csv',index_col=False)

#### Converting the departments in the dataframe to dictionary

In [56]:
df_new=dict()
mx=max(df_prod["department_id"])
mn=min(df_prod["department_id"])

for i in range(mn,mx+1) :
    arr=[]
    for j in range(len(df_prod)):
        if ((df_prod.iloc[j,3]))==i :
            arr.append(df_prod.iloc[j,1])
    df_new.update({i:arr})

#### Showing keys of the dict

In [57]:
df_new.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21])

#### The values of key 4

In [58]:
df_new[4]

['White Pearl Onions',
 'Organic Clementines',
 'European Cucumber',
 'European Style Spring Mix',
 'Yogurt Fruit Dip Sliced Apples',
 'Local Living Butter Lettuce',
 'Cauliflower Florettes',
 'Arugula Salad',
 'Organic Lemons',
 'Nectarines',
 'Living Organic Cilantro',
 'Herb Thyme Clamshell',
 'Cantaloupe',
 'Gold Potatoes',
 'Juicing Carrots',
 'Organic Whole Peeled Baby Carrots',
 'Vegetable Salad Kit, Sweet Kale',
 'Greener Selection Salad',
 'Clementine Bag',
 'Mache Blend',
 'Organic Yukon Gold Potato Bag',
 'Kabocha Squash',
 'Yellow Cherry Tomato',
 'Red Seedless Grapes Imported',
 'Garnet Sweet Potato (Yam)',
 'Organic Crunchy Slaw Americana Salad',
 'Celery Heart',
 'Romaine',
 'Organic Vegetable Tray',
 'Organic Spinach Quinoa Powermeal Bowl',
 'Grilled Asparagus',
 'ArtiHearts Fresh Grilled Artichokes',
 'Fingerling Potato',
 'Organic Fresh Basil',
 'Organic Broccolini',
 'Salad, Cobb',
 'Mini Watermelon',
 'Organic Black Seedless Grapes',
 'Grapes',
 'Organic Orange Bell Pepper',
 'Green Onion',
 'Phillips Gourmet Portabella Mushroom',
 'Mixed Bell Peppers',
 'Pink Lady Apple',
 'Organic Hass Avocado Bag',
 'Sweet Potato (Yam)',
 'Mini Cucumbers',
 'Baby Dill',
 'Organic Baby Lettuces',
 'Organic Peeled & Cooked Beets',
 'Santa Fe Style Salad Cafe Bowl',
 'Sliced Baby Bellas Mushrooms',
 'Parsley, Italian (Flat), New England Grown',
 'Cauliflower head',
 'Klondike Petite Potatoes',
 'English Peas Pack',
 'English Cucumbers',
 'Anaheim Peppers',
 'Yukon Gold Potatoes Bag',
 'Mini Carrots Bunch',
 'Zucchini Squash, Baby Courgette',
 'Scallions',
 'Minzano Tomato',
 'Organic Cherry Tomatoes On The Vine',
 'Baby Cut Carrots Snack Size Bags',
 '4# Bag Navel Oranges',
 'Good Life Organic Cherry Tomatoes',
 'Green Bananas',
 '5-Lettuce Mix',
 'Yellow Bell Pepper',
 'Baby Persian Cucumbers',
 'Pullman Green Leaf Salad',
 'Orange Halo',
 'Meyer Lemons',
 'Orange Cauliflower',
 '3 lb Clementines',
 'Italian Salad Blend',
 'Organic Kale Combo',
 'Steam In Bag Broccoli & Cauliflower',
 'Diced Yellow Onions',
 'Wild Wonders Medley Tomato',
 'Boiler Onions',
 'Organic Bagged Kale Salad Mix',
 'Salad, Chopped, Garden Vegetable',
 'Asian Chopped Salad',
 'Diced Red Onions',
 'Organic Sorrel',
 'Organic Green Onions',
 '50/50 Spring Mix And Baby Spinach',
 'USA Endive Lettuce',
 'Sliced Crimini Mushrooms',
 'Spanish Padron Peppers',
 'Potatoes Yellow Organic Bag',
 'Diced Celery & Onions',
 'Organic Boneless & Skinless Chicken Breast',
 'White Pumpkin',
 'Organic Minneola',
 'Sweetango Apple',
 'Chayote',
 'The Original Maraschino Cherries',
 'Watercress',
 'Red Onions',
 'Mini Seedless Watermelon Pack',
 'Organic Rainbow Chard Bunch',
 'Russet Potatoes Bag',
 'Organic Russet Potato Bag',
 'Organic Eggplant',
 'Papaya',
 'Apple Cheese Pretzel',
 'Grape Jammers',
 'Organic Butterhead (Boston, Butter, Bibb) Lettuce',
 'Pineapple',
 'Baby Red Potatoes',
 'Organic Blueberry',
 'Organic White Button Mushrooms',
 'White Eggplant',
 'Mandarin Box',
 'Cranberry Walnut Salad',
 'Organic Mini Cucumber',
 'Chard, Green, New England Grown',
 'Golden Delicious Apples',
 'Pink Lady Apples',
 'Orange Honeydew Melon',
 'Organic Brussels Sprouts',
 'Flaxmilk 1200 mg Omega-3 Vanilla',
 'Organic Broccoli Crowns',
 'Bacon Caesar Kit',
 'Whole Cantaloupe',
 'Bosc Pear',
 'Thai Chili Peppers',
 'Diced White Onion',
 'Mint',
 'Organic Red Delicious Apples',
 'Leafy Romaine Salad Blend',
 'Living Herbs Potted Living Basil',
 'Frozen Organic Blueberries',
 'Rutabaga Organic',
 'Organic Sweet Pepper Medley',
 'California Endive Farms',
 'Ambrosia Apples',
 'Bag of Oranges',
 'Organic Poultry Mix Herbs',
 'Spinach Plus Powergreens!',
 'Ataulfo Mangos',
 'Organic Pomegranate',
 'Santa Fe Caesar Complete Salad Kit',
 'Rainier Cherries',
 'English Seedless Cucumber',
 'Pasilla Pepper',
 'McCormick Minced Onion',
 'Mixed Berry',
 'Yellow Onions',
 'Sweet Baby Lettuce',
 'Ginger Root',
 'Organic Granny Smith Apple Bag',
 'Red Cabbage',
 'Boniato Sweet Potato',
 'Organic Saltine Crackers',
 'Broccoli Florettes',
 'Whole Chipotle Chili',
 'Bag of Gala Apples',
 'Baby Portabella Mushrooms',
 'Salad Kit, Light Caesar',
 'Tropical Mix',
 'Garlic, Elephant',
 'Broccoli Rabe',
 'Diced Butternut Squash',
 'Mini Peeled Carrots',
 'Seedless Red Grapes',
 'Large Pineapple Chunks',
 'Lafayette Butter Lettuce & Radicchio Salad Blend',
 'Organic Opal Apple',
 'Potted Flat Parsley',
 'Vidalia Onion',
 'Apricot',
 'Green Onions',
 'Organic Kabocha Squash',
 'Cauliflower Florets',
 'Sweet Green Peas',
 'Black Bean with Onion & Garlic Crackers',
 'Organic Herb Blend',
 'Premium Super Sweet Corn Bi-Color',
 'Organic Red Grape Tomato',
 'Watermelon Chunks',
 'Shaved Brussel Sprouts',
 'Southwest Chopped Salad',
 'Dandelion Greens',
 'Sweet Apple Slices',
 'Organic Mint Bunch',
 'Organic Red Pear',
 'Seasonal Fruit Salad',
 'Small Hass Avocado',
 'Organic Zucchini Spirals',
 'Caesar Supreme Salad Kit',
 'Okra',
 'Deep Green Blends, Kale',
 'Idaho Potatoes',
 'Mexican Papaya',
 'Cauliflower',
 'Cocktail Tomatoes on the Vine',
 'Bag of White Round Eastern Potatoes',
 'Organic Red Potatoes',
 'Organic Tangellos',
 'Pineapple Gold Organic',
 'White Onion',
 'Baby Carrots',
 'Organic Celery',
 'Collard Mustard Turnip Greens Southern Blend',
 'Diced Red Onion',
 'Organic Lemon',
 'Royal Gala Apples',
 'White Asparagus',
 'Organic Tarragon',
 'Living Butter Lettuce',
 'Rainbow Chard',
 "Veggie Lover's Salad Blend",
 'Red Bell Peppers',
 'Mandarins',
 'Bok Choy',
 'Organic Baby Romaine',
 'Berry Valley Blueberries',
 'Organic Apples',
 'Living Basil',
 'Roma Tomatoes',
 'Organic Smokey Chipotle Crunchy Kale',
 'Broccoli Medley',
 'Clementines',
 'Organic Avocados',
 'BBQ Ranch Chopped Salad',
 'Lettuce Red Butter Organic',
 'Serrano Peppers',
 'Lettuce Romaine Hearts',
 'Halved Brussels Sprouts',
 'Fava Beans',
 'Bag of Lemons',
 'Organic Organi Ruby Sensation Potatoes',
 'Cucumber',
 'Butternut Spirals Organic',
 'Navel Orange',
 'Organic Whole Mushrooms',
 'Orange Navel',
 'Organic Braeburn Apple',
 'Onions',
 'Gala (3 Lb)',
 'Whole Mushrooms',
 'Family Pack Bites Juicy Red & Green Apple Mixed',
 'Tomatoes Medley Mix',
 'Organic Iceberg Lettuce',
 'Mixed Fruit Salad',
 'Fruit Tray',
 'Rutabagas',
 'Large Vegetable Platter',
 'Vidalia Onions',
 'Organic Alfalfa Sprouts',
 'Organic Sunny Bears',
 'Classic Baby Creamers Potatoes',
 'Organic Yellow Potatoes',
 'Sliced Mangos',
 'Deep Green Blends Kale',
 'Broccoli Crowns',
 'French Beans',
 'Sweet Red Grape Tomatoes',
 'Organic Bok Choy',
 'Organic Shallot',
 'Organics Mixed Berries',
 'Dried Blueberries & Cranberries',
 'Italian Chopped Salad Kit',
 'Guava',
 'Quince',
 'Organic Chopped Roasted Garlic',
 'Herbs Lime Leaves',
 'Tomatoes, Snack',
 'Dressing, Jersey Sweet Onion, Calorie Free',
 'Broccoli Bunch',
 'Organic King Oyster Mushrooms',
 'Organic Bluberries',
 'Organic Cut Organic Spinach',
 'Iceberg Garden',
 'Red Banana',
 'Organic Sunflower Sprouts',
 'Organic Asparagus',
 'Lime',
 'Kale Ceasar Salad Kit',
 'Mangos No Sugar Added Diced in Water Fruit Cups',
 'Pinata Apple',
 'Packaged Grape Tomatoes',
 'Turnip Greens',
 'Organic Pineapple Chunks',
 'Tuscan Style Portobella Mushrooms',
 'Red Currants',
 'Organic Navel Orange',
 'Baby Bella Whole Mushrooms',
 'Russet Potato',
 'Fresh Cut Cauliflower & Broccoli Steam in Bag',
 'Apple Honeycrisp Organic',
 'Head of Lettuce',
 'Cantaloupe Half',
 'Eagle Egg Plumcot',
 'Organic Red Seedless Grapes',
 'Organic Honey Bunch Grape Tomatoes',
 'Broccoli Crown',
 'Chopped Kale Apple Veggie Salad',
 'Poppy Seed Chopped Salad Kit',
 'Sweet Gala & Caramel Sliced Apples',
 'Organic Red Onion',
 'Green Leaf Shreds',
 'Peeled Shallots',
 'Baby Cucumbers',
 'Diced Celery & Onion',
 'Family Size Bag of French Green Beans',
 'Organic Trumpet Royale Mushrooms',
 'Organic Goji Berries',
 'Fully Husked & Trimmed Super Sweet Corn',
 'Whole Segments Mandarin Oranges In Light Syrup',
 'Organic Carrots',
 'Organic White Potato',
 'Country Greens',
 'Key Limes',
 'Basil',
 'English Hydro Cucumber',
 'Kickin’ BBQ Chopped Salad',
 'Organic Yellow Zucchini',
 'Fuji  Apples',
 'Dancy Tangerines',
 'Organic Gold Pearl Onions',
 'Navel Oranges Bag',
 'Carrot Bunch',
 'Organic Poultry Blend',
 'Organic White Shimeji Mushrooms',
 'Cranberry Walnut Salad Cafe Bowl',
 'Apple Cheese Grape',
 'Organic Avocados 5 Count',
 'Organic Mini Pumpkin',
 'Pro Snax Apple W/Ched',
 'Kumquat',
 'Organic Corn',
 'Golden Beet',
 'Gold Pearl Onions',
 'Cauliflower Crumbles',
 'Plantain Bananas',
 'Herb Cilantro Clamshell',
 'Italian Salad Romaine & Radicchio',
 'Granny Smith Apples',
 'Sharlin Melon',
 'Kiwi Bags',
 'Fresh Sweet Corn',
 'Organic Vidalia Onion',
 'Charentais Melon',
 'Organic Red Cherry Tomato',
 'Organic Sweet Grape Tomatoes',
 'Arugula',
 'Large Pink Lady Apples',
 'Persimmon Sharon Fruit Cv',
 'Sweet Kale Chopped Salad',
 'Organic Yellow Onions',
 'Mesclun Salad',
 'Organic Portabello Mushroom Caps',
 'Donut Peaches',
 'Italian Chopped Salad',
 'Organic Broccoli',
 'Dill',
 'Cauliflower Orange',
 'Driscoll Sunshine Raspberries',
 'Organic Maitake Mushrooms',
 'Bag of Russet Potatoes',
 'California Navel Oranges',
 'Carrot and Celery Sticks',
 'Artisan Sausage Pineapple Uncured Bacon Hardwood Smoked with Vermont Maple Syrup',
 'Bolthouse Baby Carrots',
 'Shredded Carrots',
 'Organic Celery Hearts',
 'Organic Easy Leaves Butter Lettuce Salad',
 'Red Swisschard',
 'Black Plum',
 'Organic Fuji Apples',
 'Broccoli & Carrots',
 'Bistro Greek Feta Chopped Salad Bowl',
 'Organic White Mushrooms',
 'Dragon Fruit',
 'Cherries Rainer Organic',
 'Organic English Cucumber',
 'Cauliflower Head',
 'Organic Deep Greens Kale Blend',
 'Organic Broccoli and Cauliflower',
 'Yukon Gold Potatoes 5lb Bag',
 'Driscoll Blueberries',
 'Cut & Peeled Baby Carrots',
 'Organic Purple Kale',
 'Roma Tomatoes on the Vine',
 'Enoki Mushrooms',
 'Organic Mixed Herbs',
 'Fresh Creamer Blushing Belle Potatoes',
 'Organic Red Bell Pepper',
 'Anise Fennel',
 'Organic Watercress',
 'Ruby Grapefruit',
 'Wild Arugula Salad',
 'Organic Lemon Grass',
 'Blackeyed Peas',
 'Organic Bunny-Luv Fresh Carrots',
 'Live Butter Lettuce',
 'Organic Pacific Rose Apples',
 'Organic Russian Banana Fingerling Potato',
 'Lemongrass Stir In Paste',
 'Organic Nectarine & Plum Conserve',
 'Organic Lemon Thyme',
 'Organic Red Chard',
 'Mini Peppers',
 'Carrot Rainbow Baby Peeled',
 'Sweet Sliced Apples',
 'Horseradish Root',
 'Organic Tomato On The Vine',
 'Organic Romaine Leaf',
 'Eggplant Large',
 'Tuscan Kale',
 'Baby Spinach',
 'Freeze Dried Chives',
 'Kohlrabi',
 'Leaf Spinach',
 'Bbq Ranch Chopped Salad Kit',
 'Mango Spears',
 'Green Leaf Lettuce',
 'Chopped Kale',
 'Organic Living Basil',
 'Shreds Iceberg Lettuce',
 'Napa Cabbage',
 'Brown Turkey Fresh Figs',
 'Premium Romaine',
 'Kumquats 12 Oz',
 'Tomato On The Vine',
 'Organic Green Kale',
 'Organic Crunchy Wok Slaw Blend',
 'Red Raspberries',
 'Bing Cherries',
 'Red Pepper',
 'Mixed Berries',
 'Mixed Apple Slices',
 'Organic Carrots & Ranch Dip',
 'Asparagus Spears',
 'Organic Russian Banana Fingerling Potatoes',
 'Herbs Ginger Blend Spices',
 'Classic Coleslaw Salad',
 'Salad Kit, Endless Summer',
 'Organic Campari Cocktail Tomatoes',
 'Little Gems Sweet Lettuce',
 'Basil Stir-In Paste',
 'Pummelo',
 'Monviso, California Heirloom Fresh Peeled Garlic',
 'Organic Bunashimeji Mushrooms',
 'Santa Barbara Fresh European Style Salad Blend Escarole, Endive, Radicchio',
 'Organic Cherries',
 'Hass Avocados',
 'Purple Cauliflower',
 'Organic Sage',
 'Cantaloupe Spears',
 'Organic Russet Potatoes',
 'Muscat Grapes',
 'Radish',
 'Red Bell Pepper',
 'Medium Yellow Onions',
 'Lychee',
 'Organic Jazz Apple',
 'Organic Daikon Radish Sprouts',
 'Navel',
 'Organic Gold Beets',
 'No Sugar Added Cherry Mixed Fruit',
 'Organic Cucumbers',
 'Halved Brussel Sprouts',
 'Yellow Grape Tomatoes',
 'Certified Organic Oranges',
 'Organic Potato Russet',
 'Organic Mung-Bean Sprouts',
 'Organic Tomato',
 'Berries Strawberry',
 'Crenshaw Melon',
 'Spaghetti Squash',
 'Organic Cara Cara Orange',
 'Cocktail Tomatoes',
 'Red Pearl Onions',
 'Jumbo Garlic',
 '100% Baby Kale',
 'Large Greenhouse Tomato',
 'Tree Ripe Peaches',
 'Organic Rainbow Kale',
 'Crimini Delight Mushrooms',
 'Fresh Cut Butternut Squash',
 'Bag of Organic Bananas',
 'Organic Grape Tomato',
 'Organic Peach',
 'Bistro Bowl Chicken Caesar Salad',
 'Organic Cabbage',
 'Abate Fetel Pear',
 'Hearty Sage',
 '3 Color Deli Coleslaw',
 'Mushroom Baby Bella',
 'Apples',
 'Dried Porcini Mushrooms',
 'Steam Fingerling Potato',
 'Heirloom Navel Orange',
 'Organic Snipped Green Beans',
 'Asian Pears',
 'Power Up Greens Baby Kale & Greens',
 'Yellow Peach',
 'Red Potatoes',
 'Honeycrisp Apples, Bag',
 'Thyme',
 'Lettuce Boston',
 'Organic Broccoli Crown',
 'Tomatoes Kumato',
 'Trimmed Green Beans',
 'Parsley Freeze-Dried Herbs',
 'Cucumbers',
 'Organic Mint',
 'Snow Peas',
 'Braeburn Apple',
 'Ultimate Caesar Salad Kit',
 'Mushroom Blend',
 'Chop Italian Bistro Bowl',
 'Seedless Watermelon',
 'Kiwi',
 'Organic Red Potatoes, Bag',
 'Pluot',
 'Florida Avocado',
 'Organic Beefsteak Tomato',
 'Organic Cello Lettuce',
 'Portabella Mushrooms',
 'Bag Of Baby Lemons',
 'Coconut, Sweet Young, Thai',
 'Tommy/Kent/Keitt/Haden Mango',
 'Organic Premium Sweet Petite Mini Peeled Carrots',
 'Hydroponic Bibb Lettuce',
 'Organic Bagged Valencia Oranges',
 'Yellow Onion',
 'Gold Pineapple',
 'Sweet Potato Yam',
 'Blueberry',
 'Microwave-Ready Idaho Potato',
 'Sweet & Crunchy Salad Blend',
 'Organic Mandarins',
 '100% Florida Super Red Grapefruit Juice',
 'Green Beans',
 'Baby Dynamic Duo Potatoes',
 'Organic Acorn Squash',
 'Chili Pepper, Lightly Dried',
 'Turnip',
 'Fresh Spinach',
 'Fresh Cut Baby Carrots',
 'Blueberry Pint',
 'Potted Thyme',
 'Organic Vegetable Medley',
 'Organic Green Beans',
 'Butter Babies Potatoes',
 'Mangos',
 'Organic Rosemary',
 'Orange Bell Pepper',
 'Classic Iceberg Salad',
 'Asian Sesame Chopped Salad Kit',
 'Peeled and Steamed Garbanzo Beans',
 'Fresh Red Grapefruit',
 'Organic Rainier Cherries',
 'Pickling Cucumber',
 'Organic Baby Romaine Lettuce',
 'One Bite White Delight Potatoes',
 'Baby Seedless Cucumbers',
 'Organic Broccoli And Carrots',
 'White Sweet Potatoes',
 'Organic Garden Blend Sprouts',
 'No Sugar Added Diced Peaches-Diced Pears & Mandarin Oranges Fruit',
 'Organic Hachiya Persimmons',
 'Pineapple Spears',
 'Kumkuats',
 'Celery Hearts',
 'Tart Apple Slices',
 'Rainbow Carrot Bunch',
 'Shallot',
 'Organic Red Potato Bag',
 'Yellow Tomato',
 'Turkey & Cheese Tray',
 'Fireside Apples',
 'Cilantro Paste',
 'Aloe Vera',
 'Taro Root',
 'Red Oak Leaf',
 'Klondike Medley Petite Potatoes',
 'Organic Sun-Washed Mediterranean Salad',
 'Tropical Medley',
 'Lacinato Kale Og',
 'Broccoli',
 'Organic Delicata Squash',
 'Fresh Asparagus',
 'Organic Yams',
 'Fingerling Potatoes',
 'Organic Honey Gold Potatoes',
 'Alfalfa Sprouts',
 'Organic Mini Sweet Pepper, Pint',
 'Muscatell Grapes',
 'Fresh Diced Celery & Onions',
 'Fajita Mix',
 'Organic Fresh Carrot Chips',
 'Italian Kitchen Crushed Tomatoes',
 'Organic Italian Parsley',
 'Organic Sliced White Mushrooms',
 'Boston Lettuce',
 'USA Florida Juice Oranges',
 'Bag Pink Lady Apples',
 'Organic Bosc Pears',
 'Organic Baby Sweet Potatoes, Microwaveable',
 'Organic Carrot Bunch',
 'Strawberries',
 'Organic Mushroom Chef S Sampler',
 'Sweet Corn',
 'Organic Pink Ruby Grapefruit',
 'Chopped Salad Kit Sesame Asian',
 'Simple Starters Diced Red Onion',
 'Baby Spring Mix',
 'Dill Stir-In Paste',
 'Organic 50/50 Spring Blend',
 'Granny Smith Apple',
 'Salad, Lettuce Trio',
 'Organic Guava',
 'Honeycrisp Apples',
 'Organic Honeydew',
 'Peanut Butter Sliced Apples',
 'Rhubarb',
 'Organic Sugar Snap Peas',
 'Hass Avocado Variety',
 'Jack Habanero Cheese',
 'Yellow Nectarine',
 'Organic Lettuce',
 'Nourish Bowls Monterey Risotto',
 'Chinese Eggplant',
 'Junami Apple',
 'Sliced Heirloom Portabella Mushrooms',
 'Just Mango, Apple & Avocado Baby Food',
 'Lemons',
 'Living Mint',
 'Italian Blend Salad',
 'Gooseberry',
 'Carrots',
 'Organic Green Leaf Lettuce',
 'Baby Kale & Spinach Juicing Greens',
 'Harvest Medley',
 'Steamables Golden Potatoes',
 'Organic Micro Greens Sprouts',
 'Organic Tomatoes',
 'Mamey',
 'Wild Arugula',
 'Organic Large White Flesh Peach',
 'Garlic Spice Blend Paste',
 'Organic Zucchini Squash',
 'Organic Whole Carrots',
 'Organic Biologique Limes',
 'Garden Salad',
 'Organic Spinach Bunch',
 'Yellow Sweet Corn',
 'Chopped Garlic in Water',
 'Bag of Red Delicious Apples',
 'Tangerines',
 'Asian Chopped Salad with Dressing',
 'Organic Wheat Grass',
 'Sweet Butter Salad',
 'Organic Whole Crimini Mushrooms',
 'Brussel Sprouts',
 'Pepper Shishito Clam Og',
 'Pomegranates',
 'Organic Radicchio Castelfranco',
 'Organic Sliced Bella Mushrooms',
 'Super Shreds Superfood Brussels Sprouts',
 'Organic Red Potato',
 'Corn',
 'Ugli Fruit',
 'Grapefruit Bag',
 'Black Mission Fig',
 'Organic Pre-washed Hearts Of Romaine Lettuce',
 'Honeydew Chunks',
 'Red Apple Slices',
 'Steakhouse Roaster Potatoes',
 'Medjool Dates',
 'Melon Santa Clause',
 'Celery',
 'Organic Butternut Squash',
 'Peeled Garlic',
 'Sweetfire Beets',
 'Spring Mix & Baby Spinach, 50/50!, Family Size',
 'Organic Large Extra Fancy Fuji Apple',
 'California Cauliflower Cello',
 'Asparagus Tips',
 'Carrots Cello',
 'Turnips',
 'Organic Grapefruit',
 'Small Cantaloupe',
 'Red Pear',
 'Premium Cape Cod Fresh Cranberries',
 'Bacon & Bleu Chopped Salad Kit',
 'Brussels Sprouts Stalks',
 'Escarole',
 'Brussels Sprouts, Sprout Halves, Quick Cook',
 'Gold Pear',
 'Artisan Series Cherry Tomatoes On The Vine',
 'Sugar Cane',
 'Sliced Mushrooms',
 'Gourmet Baby Cucumbers',
 'Mangoes',
 'Sunburst Tangerine',
 'Super Sweet Yellow Corn',
 'Medium Scarlet Raspberries',
 'Mini Kumato Tomatoes',
 'Organic Dandelion Greens',
 'Baby Brussel Sprouts',
 'Carrot Rainbow',
 'Organic Russet Potato',
 'Green Oak Lettuce',
 'Green Seedless Grapes',
 'Organic Nectarine',
 'Organic Fingerling Potatoes Bag',
 'Honey + Ginger Beets',
 'Cabbage',
 'Red Delicious Apples',
 'Bartlett Pear',
 'Fresh Whole White Mushrooms',
 'Diced Bell Pepper',
 'Lightly Seasoned Roasted Garlic',
 'Potted Basil',
 'Jazz Apple',
 'Jalapeno Peppers',
 'Brussell Sprouts',
 'Organic Garlic Bulbs',
 'Red Plumcots',
 'Organic Pink Lady Apples',
 'Pepper Greens',
 'Organic Pea Shoots',
 'Organic Arugula',
 'Honey Belle Pear',
 'Marjoram',
 'Organic Portabella Mushrooms',
 'White Mushrooms',
 'Organic Young Thai Coconut',
 'Mache Rosettes French Salad Mix',
 'Small Watermelon',
 'Golden California Fig',
 'Celery Root',
 'Cotton Candy Grapes',
 'Salad Kit Creamy Coleslaw',
 'Yellow Potato',
 'Gourmet Mixed Organic Fingerlings Potatoes',
 'Baby Spinach Salad',
 'Sage',
 'Salad, 50/50 Mix',
 'Black Mission Figs',
 'Dried Oyster Mushrooms',
 'Apple Cortland',
 'Collards',
 'Loose Mushrooms',
 'Michigan Organic Kale',
 'Curly Parsley Bunch',
 'Iceberg Lettuce',
 'Plum',
 'Pichuberries',
 'Ginger Bok Choy Vegetable Salad Kit',
 'Baby Bella Mushroom Whole',
 'Power Essence Kale & Shredded Brussels Sprouts',
 ...]

data of department 4 consists of vegetables

# 6
#### Subset department_id=14 (Breakfast)

In [59]:
df_BF=df_prod.query('department_id==14') # making a subset according to numbet of department_id
df_BF

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

# 7
#### subset department_id= 5 , 20 , 7 , 12 (alcohol, deli, beverages, and meat/seafood)

In [60]:
df_DN=df_prod.query('department_id==[5,20,7,12]') # making a subset according to numbet of department_id

#### Sort the subset according to department_id

In [61]:
df_DN.sort_values(by=['department_id']) #sort values of department_id

,product_id,product_name,aisle_id,department_id,prices
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
36276,36272,Kali Hart Pinot Noir,28,5,11.6
10802,10802,Diamond Junmai Ginjo Saké,134,5,9.5
10702,10702,California Red Wine,28,5,3.0
36423,36419,Cashmere,28,5,9.5
...,...,...,...,...,...
15767,15767,Blackened Chicken Salad,1,20,11.1
26384,26383,Beef Cotto Salami,96,20,11.2
40692,40688,Spinach Artichoke Dip,67,20,1.7
32902,32900,Paneer Tikka Masala,13,20,2.3
7520,7520,"Tempeh, Organic, Soy Cake",14,20,10.0

# 8
#### The last dataframe created (df_DN) consists of 7650 rows x 5 columns

# 9
#### showing data of used_id 1

In [65]:
df_usr1=df_ords.query('user_id=="1"') # get data for user_data =1 and put it in new dataframe
df_usr1  # print the dataframe

,order_id,user_id,eval_set,order_number,order_day,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

# 10 
#### Get most freq day and hour of User 1

In [76]:
df_usr1[["order_day","order_hour_of_day"]].mode() #mode() is used to get most freq data

   order_day  order_hour_of_day
0        4.0                  7
1        NaN                  8

User 1 frequently order at day= 4 and hour= 7am